



<div *ngIf="currentUser" class="container">


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
     
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/conversaciones">{{languageGlobal.conversaciones}} <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/calculaFecha">{{languageGlobal.calculaFecha}}</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" routerLink="/form">{{languageGlobal.formulario}}</a>
          </li>
        </ul>
     
      </div>
    </nav>
  
    <br>
  
  
    <div class="switch float-right " style="margin-top: -46px; color: white !important; position: relative; right: 70px;">
      <label>
        <span>{{languageGlobal.spanish}}</span>
        <input type="checkbox" [(ngModel)]="isChecked" (change)="checkValue()">
        <span class="lever" style="    margin-left: 5px; margin-right: 5px;"></span>
        <span>{{languageGlobal.english}}</span>
  
      </label>
      <div class="btnLogOut" style="text-align: right; color: white!important;" fxShow="true">
        <a style="background-color: cornflowerblue; color: white!important;" mat-button
          (click)="logout()">{{languageGlobal.closeSession}}</a>
      </div>
  
    </div>
    <br>

    <h1>{{languageGlobal.conversaciones}}</h1>
  
  </div>